[submodule "csv-upload-parser-client"]
	path = csv-upload-parser-client
	url = https://github.com/Kyruski/csv-upload-parser-client
[submodule "csv-upload-parser-server"]
	path = csv-upload-parser-server
	url = https://github.com/Kyruski/csv-upload-parser-server
